.checkout-modal{
  position: fixed;
  height: 50%;
  width: 60%;
  min-height: 400px;
  min-width: 300px;
  margin-left: 15%;
  margin-top: 100px;
  border: 2px solid salmon;
  background-color: antiquewhite;
  z-index: 102;
}