.review-form-container{
  /* height: 77%; */
  min-height: fit-content;
  width: 85%;
    border-bottom: 1px solid rgb(157, 157, 157);
  position: relative;
  margin-left:8%;
}
.review-form-container > form  label :first-child{
color: #88260f;
}
.review-form-container > form {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  padding: 2%;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: .6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.review-form-container form > label,.form-stars-container {
  margin-bottom: 2%;
}


.form-loader{
padding: 100%;

}


input[type='text']{

  margin: 2%;
  margin-left:0;
  margin-top:0;
  height: 30px;
}

input[type='textarea']{
  height: 60px;
  margin: 2%;
  margin-left:0;
   margin-top:0;
  
}

.post{
  align-self: center;
  transition: 1.5s ease;
}
.review-form-container > form :last-child{
 align-self: center;
 
}
.form-stars-container{
  display: flex;

margin-left: none;
font-size: 20px;
}
.name-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 15%;
}

.rf-button-container{
display: flex;
width: 30%;
justify-content: space-between;

}
.rf-button-container .button{
  margin: 30px;
}

.rf-button-container :nth-child(2){
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}


.rf-button-container :nth-child(2):hover{
  cursor: pointer;
}

.review-form-container .errors{
  transform: scale(.6);
}

.button-err-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}