.footer-container{
  background-color: black;
  width:100vw;
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay:2s;
  animation-iteration-count: 1;
}

.footer-spacer{
  height: 40px;
}
.text{
  width: 80%;
  height: 80%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.2em;
}

.links-box{
  margin-bottom: 50px;
  width: 40%;
  display: flex;
  justify-content: space-around;
   font-size: 2rem;
   transition: all .3s ease;
}

.links-box a:hover{
  color: var(--orange);
}