.create-user-form-wrapper{
  min-width: 400px;
  max-width: 700px;
  width:50vw;
 padding: 60px;
 margin-top: 40px;
 z-index: 1;
position:relative;
 display: flex;
 flex-direction: row;
 justify-content: center;
 height:fit-content;

}
.create-user-form-wrapper > form {

  display: flex;
  flex-direction: column;
  align-items: center;
  width:inherit;

 
}

.input-container input {

  margin-top: 5px;
  height:300px;
  width:90%;
  position: relative;
 z-index: 3;
}

.names{
  display: flex;
  width: 90%;
  padding-top: 30px;
}
.names input {

  width:80%;
}
.input-container{
  width: 90%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 80px;
  justify-content: space-between;

}

.create-user-form-wrapper label{
 
    font-size: 13px;
  color: rgb(58, 58, 58);
  /* margin-top:20px;
  margin-bottom: 15px; */
  font-family:'nunito',sans-serif;
  font-weight: 300;


}
#checkbox{
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  /* border: 2px solid rgb(0, 255, 102); */
}
#checkbox input{
  width: 20px;
  margin-right: 20px;
}

